h1 {
  margin: 1em 0;
}

footer {
  padding-top: 2em;
}

table {
	border-collapse: collapse;
    width: 100%;
    padding: 3%;
}

.tog-n-lab {
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-radius: 4px; */
    padding: 4px;
    width: 100%;
    /* margin-right: 0%; */
    /* margin: 10%; */
    /* align-items: center; */
    /* align-content: center; */
}

.content {
	/*margin-right: 10%;
	margin-left: 10%;*/
	margin-top: 10%;
	text-align: center;    
}

.control_group {
    margin: 10px;
    padding: 10px;
    background-color: #e5ebf0;
    border-radius: 3px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}