{% extends "layout.html" %}

{% block body %}

    <title>Flask Zappa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <link rel="stylesheet" href='/static/css/main.css' />
    <script src="/static/js/dashboard.js"></script>

  <body>
    <div class = 'content'>
      <h1> FLASK ZAPPA </h1>

      <div class='control_group' id='robot_info' style="display:none;">
        <table>
          <tr>
            <td>Owner</td>
            <td id="companyName"></td>
          </tr>
          <tr>
            <td>Your robots last known ip is</td>
            <td><input type="text" id="robot_ip" placeholder="robot_ip"></td>
          </tr>
          <tr>
            <td>Conection Status</td>
            <td id="conection-status"></td>
          </tr>
        </table>
      </div>

      <div class="control_group" id='reg_robot' style="display:none;">
        <h2>You have not registered a robot</h2>
        <input type="button" value="Link a robot" onclick="window.location.href='/register_robot'">
      </div>

      <div class="control_group">
      <div class="say_text">
          <input type="text" id='say' placeholder="say somthing!" onkeydown="search(this)" class='form-control' style="text-align:center;">
          <button onclick="submit_say()" class="btn btn-outline-warning">Speak!</button>
      </div>
    </div>


    <div class="control_group">
      <label for="volume">Volume</label>
      <div class="slidecontainer">
        <input type="range" min="0" max="2" value="1" step="0.1" class="slider" id="volume" onchange="set_volume()">
      </div>
      <label for="speed">Talk Speed</label>
      <div class="slidecontainer">
        <input type="range" min="50" max="250" value="1" step="5" class="slider" id="speed" onchange="set_speed()">
      </div>
      <label for="pitch">Vocal pitch</label>
      <div class="slidecontainer">
        <input type="range" min="1.0" max="2.5" value="2" step="0.01" class="slider" id="pitch" onchange="set_pitch()">
      </div>
    </div>

    <div class="control_group">
      <h2>Party Scripts</h2>

      <div class='tog-n-lab'>
        <label for="greeter">Enable scripts</label>
        <input id='partyScriptToggle' type="checkbox" checked data-toggle="toggle" onchange='enable_party_script()'>
      </div>

      <label for="max_time"><h3>Max</h3></label>
      <input type="range" class="custom-range" id="max_time" oninput='max_time_input()' onchange="max_time_change()">
      <div id='max_value' class='val_container' >val</div>

      <label for="min_time"><h3>Min</h3></label>
      <input type="range" class="custom-range" id="min_time" oninput='min_time_input()' onchange="min_time_change()">
      <div id='min_value' class='val_container'>val</div>

    </div>

    <div class="control_group">
      <button onclick='lights()' class="btn btn-outline-success">Light Show</button>
      <button onclick='dance()' class="btn btn-outline-success">Do Dance</button>
      </div>
      <div id='options' class = 'control_group'>
        <table>
          <td>
            <div class='tog-n-lab'>
              <label for="greeter">Enable Greeting</label>
              <div class="toggle-border"><input id='greeter' type="checkbox" checked data-toggle="toggle" onchange='enable_greeting()'></div>
            </div>
          </td>
          <td>
            <div class='tog-n-lab'>
              <label for="AL">Enable Autonomous life</label>
              <div class="toggle-border"><input id='AL' type="checkbox" checked data-toggle="toggle" onchange='enable_AL()'></div>
            </div>
          </td>
          <td>
            <div class='tog-n-lab'>
                <label for="convo">Enable Convosation Mode</label>
                <div class="toggle-border"><input id='convo' type="checkbox" checked data-toggle="toggle" onchange='enable_convo()'></div>
            </div>
          </td>
        </table>
    </div>
  </div>
  {% endblock %}