{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>
    <form action="" method="post">

        <form>
            <div class="control-group">
                <div class="controls">
                  <input type="text" id="username" name="username" class="input-xlarge"
                    placeholder="Enter Username" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                  <input type="text" id="email" name="email" class="input-xlarge"
                    placeholder="Enter email" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
              <input type="password" id="password" name="password" class="input-xlarge"
                placeholder="Enter Password" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
              <input type="password" id="password2" name="password2" class="input-xlarge"
                placeholder="Confirm Password" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-success">Signin</button>
                </div>
            </div>

        </form>

{% endblock %}