{% extends "layout.html" %}

{% block body %}
    <h1>Register_your robot</h1>
    <form action="" method="post">

        <form>
            <div class="control-group">
                <div class="controls">
                  <input type="text" id="company_name" name="company_name" class="input-xlarge"
                    placeholder="Company name" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="robot_ip" name="robot_ip" class="input-xlarge"
                placeholder="The current robot IP" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" id="password" name="password" class="input-xlarge"
                placeholder="Please enter your Password" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-success">Signin</button>
                </div>
            </div>

        </form>

{% endblock %}